@{
    ViewBag.Title = "Etusivu";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 align="center">Timpan Älytalosovellus</h1>
        &nbsp;
        <p class="lead">Tervetuloa käyttämään Timpan älytalosovellusta! Täällä pääset lisäämään ja muokkaamaan taloja, valoja, lämpötiloja ja saunoja.</p>
    </div>
</div>


